<!DOCTYPE html> 
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>ログイン</title>
    <link rel="stylesheet" href="stylesheets/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Mochiy+Pop+P+One&family=Reenie+Beanie&display=swap"
    rel="stylesheet"/>
</head>

<body>
<div class="slider r_to_l">
    <div class="slider_inner">
        <div><%= image_tag 'slide1.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide2.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide3.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide4.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide5.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
    </div>
    <div class="slider_inner">
        <div><%= image_tag 'slide1.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide2.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide3.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide4.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide5.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
    </div>
</div>

<div class="slider l_to_r">
    <div class="slider_inner">
        <div><%= image_tag 'slide6.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide7.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide8.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide9.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide10.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
    </div>
    <div class="slider_inner">
        <div><%= image_tag 'slide6.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide7.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide8.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide9.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide10.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
    </div>
</div>

<div class="slider r_to_l">
    <div class="slider_inner">
        <div><%= image_tag 'slide1.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide2.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide3.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide4.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide5.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
    </div>
    <div class="slider_inner">
        <div><%= image_tag 'slide1.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide2.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide3.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide4.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide5.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
    </div>
</div>


<div class="slider l_to_r">
    <div class="slider_inner">
        <div><%= image_tag 'slide6.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide7.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide8.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide9.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide10.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
    </div>
    <div class="slider_inner">
        <div><%= image_tag 'slide6.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide7.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide8.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide9.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
        <div><%= image_tag 'slide10.jpg', :class=>"photo", :alt => '画像', :size => "100%" %></div>
    </div>
</div>



Resources


<div class = "toptitle" >

<h1>MusicVoyage</h1>
<p>---新しい音楽の世界を探検する---</p>

<h3>ジャンル別で探す</h3>

    <%= link_to "J-POP",  songs_jpop_path %>
    <%= link_to "邦楽ロック",  songs_hourock_path %>
    <%= link_to "K-POP",  songs_kpop_path %>
    <%= link_to "アニソン",  songs_anison_path %>
    <%= link_to "ボーカロイド",  songs_vocaloid_path %>
    <%= link_to "ヒップホップ・ラップ",  songs_hiphop_path %> 
    <%= link_to "R&B",  songs_randb_path %>
    <%= link_to "洋楽ポップ",  songs_yougakupop_path %>
    <%= link_to "洋楽ロック",  songs_yougakurock_path %>
    <%= link_to "クラシック",  songs_classic_path %>


<h3>Post</h3>
<%= link_to "新規投稿する", new_song_path %>

<h3>Try</h3>
<%= link_to "診断する", perfumes_path %>

</div>

<h3>これいらない</h3>
<div class= "songs-container">
    <% @songs.each do |t| %>
        <div class="song">
            <%= link_to t.user.name, user_path(t.user.id) %>
            <%= t.user.email %>
            <%= image_tag t.image_url, size: "250x200" if t.image? %>
            <%= t.name %>
            <%= t.genre %>
            <%= t.about %>
            <%= t.singer %>
            <%= link_to "詳細へ", song_path(t.id) %>
            <% if user_signed_in? && current_user.id == t.user_id %>
            <%= link_to "編集する", edit_song_path(t.id) %>
            <%= link_to "削除する", songs_path(t.id), method: :delete %>
          <% end %> 
        </div>
    <% end %>
</div>

<%= form_tag({controller:"songs",action:"index"}, method: :get) do %>
    <%= text_field_tag :search %>
    <%= submit_tag '検索する'  %>
<% end %>



</div>
</html>
<footer>
    <small>©Kimi Sekine 2024</small>
</footer>
</body>