<!DOCTYPE html> 
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>ジャンルを選ぶ</title>
    <link rel="stylesheet" href="stylesheets/search.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Mochiy+Pop+P+One&family=Reenie+Beanie&display=swap"
    rel="stylesheet"/>
</head>

<body>

<div class="main-container">
    <h1>ジャンルを選ぶ</h1>
    <div class="container">
        <div class="content">
                <%= link_to "J-POP",  songs_jpop_path %>
            </div>

        <div class="content">
                <%= link_to "邦楽ロック",  songs_hourock_path %>
            </div>

        <div class="content">
                <%= link_to "K-POP",  songs_kpop_path %>
            </div>
        

        <div class="content">
                <%= link_to "アニソン",  songs_anison_path %>
            </div>
        

        <div class="content">
                <%= link_to "ボーカロイド",  songs_vocaloid_path %>
            </div>
        

        <div class="content">
            <%= link_to "ヒップホップ・ラップ",  songs_hiphop_path %>
            </div>
        

        <div class="content">
                <%= link_to "R&B",  songs_randb_path %>
            </div>
        

        <div class="content">
                <%= link_to "洋楽ポップ", songs_yougakupop_path %>
            </div>
        

        <div class="content">
                <%= link_to "洋楽ロック",  songs_yougakurock_path %>
            </div>
        

        <div class="content">
                <%= link_to "クラシック",  songs_classic_path %>
            </div>
    </div>
</div>

<footer>
    <small>©Kimi Sekine</small>
</footer>
</body>
</html>